@model PagedList.IPagedList<Musicalog_App.Models.AlbumModel>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" />

@{
    Layout = null;
}

<style>
    table {
        width: 100%;
    }

        table tr td {
            border: 2px solid black;
            text-align: center;
            word-wrap: break-word;
        }

        table tr:hover {
            background-color: #000;
            color: #fff;
        }

        table tr th {
            border: 2px solid black;
            text-align: center;
            background-color: #fff;
            color: #000;
        }
</style>

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.ActionLink("Album Name", "Index", new { Sorting_Order = ViewBag.SortingName, Filter_Value = ViewBag.FilterValue })
            </th>
            <th>
                @Html.ActionLink("Artist", "Index", new { Sorting_Order = ViewBag.SortingDate, Filter_Value = ViewBag.FilterValue })
            </th>
            <th>
                @Html.ActionLink("Stock", "Index", new { Sorting_Order = ViewBag.SortingName, Filter_Value = ViewBag.FilterValue })
            </th>
            <th>
                @Html.ActionLink("Type", "Index", new { Sorting_Order = ViewBag.SortingName, Filter_Value = ViewBag.FilterValue })
            </th>

        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.AlbumName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Artist)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Stock)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Type)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Albumid }) |
                    @Html.ActionLink("Details", "Details", new { id = item.Albumid }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.Albumid })
                </td>
            </tr>
        }
    </table>
    <br />
    Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
    @Html.PagedListPager(Model, Page_No => Url.Action("Index",
        new { Page_No, Sorting_Order = ViewBag.CurrentSortOrder, Filter_Value = ViewBag.FilterValue }))
</body>
</html>
